.home-page {
    display: flex;
    flex-direction: column;    
    justify-content: center;

    @include lg() {
        flex-direction: row-reverse;
    }

    @include lg('max-width') {
        .menubar-opened + .logo-container {
            display: none;
        }
    }
    
    .menu-opened  .apoio { 
        display: none;
    }
    .apoio { 
        position: absolute;
        width: 60%;
        bottom: 2%;
        z-index: 2;
        right: 3%;
    }
}
