.home-page {
    display: flex;
    flex-direction: column;    
    justify-content: center;

    @include lg() {
        flex-direction: row-reverse;
    }

    @include lg('max-width') {
        .menubar-opened + .logo-container {
            display: none;
        }
    }

}
