$pagePaddingDesktop: 6rem;

.premiacao {
    &-page { 
        display: flex;
        flex-direction: column;    
        color: white;
        background-color: black;
        background: url('/premiacao-bg.png') no-repeat center center;
        background-size: cover;
        height: 100vh;
    }
    
    &-header {  
        display: flex;
        align-items: center;
        flex-direction: column;
        
        .logo { 
            width: 60%;
            margin: 3rem 0 2rem 0 ;
        }

        .titulo { 
            padding: 0 20px;
        }

        .texto,
        .titulo { 
            width: 100%;
            margin-bottom: 2rem;
        }
    }

    @include sm { 
        &-header {  
            display: flex;
            align-items: center;
            flex-direction: column;
            
            .logo { 
                width: 30%;
                margin: 3rem 0 1rem 0 ;
            }
    
            .titulo { 
                width: 60%;
                padding: 0 20px;
                margin-bottom: 2rem;
            }
    
            .texto { 
                width: 100%;
                margin-bottom: 2rem;
            }   
        }
    }
    
    @include lg { 
        &-header { 
            display: flex;
            flex-direction: column;
            
            .logo { 
                width: 10%;
                margin: 1rem 100px 0  auto;
            }

            .titulo { 
                width: 40%;
                margin-bottom: 2rem;
                padding: 0;
                margin-right: auto;
                margin-left: 4rem;
                margin-top: 4rem;
            }

            .texto { 
                margin-right: auto;
                margin-left: 4rem;
                width: 60%;
            }
        }
    }
}

.menubar-opened + .premiacao-header { 
    display: none;
}