@import 'styles/config/theme';
@import 'styles/config/utils';

.aside {
    height: 100vh;
    max-width: 435px;
    position: relative;
    overflow: hidden;
    background: $blue;
    display: flex;
    transition: 0.6s all ease-in-out;
    @include flex-centered(true);
    @include has-pointer();
}
