.aside {
    background: url('/bg-yellow.png') no-repeat center center;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    @include flex-centered(true);
    @include has-pointer();

    @include lg {
        flex: 2;
    }

    @include xl {
        flex: 2.5;
    }

    &-logo,
    &-text {
        margin: auto ;
    }
    
    &-logo {
        width: 50%;
    }
    
    &-text {
        width: 80%;
    }
}

