.waves {
    opacity: .3;
    position: absolute;
    top: calc(25vh - 700px);
    background: $red;
    width: 700px;
    height: 700px;
    border-radius: 43%;
    animation: drift 3000ms infinite linear;
    
    
    &-container { 
        @include flex-centered(false);
    } 

    &--three {
        animation: drift 5000ms infinite linear;
    }
    
    &--two {
        animation: drift 7000ms infinite linear;
        opacity: .1;
        background: $red;
    }
}
  
@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}
